$border-color: #d9d9d9;
$hover-border-color: #40a9ff;
$box-shadow-color: rgba(24, 144, 255, 0.2);

$background-color: #fff;
$tag-background-color: #f5f5f5;
$option-hover-background-color: #f5f5f5;
$selected-option-background-color: #e6f7ff;

$text-color: #080808;
$option-text-color: #333;
$disabled-option-text-color: #999;
$remove-tag-color: #00000073;
$remove-tag-hover-color: #000000d9;
$caret-color: #000000d9;
$selected-icon-color: #1890ff;

$shadow-color-1: #0000001f;
$shadow-color-2: #00000014;
$shadow-color-3: #0000000d;
